{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS PROJECT</title>

    <link type="text/css" rel="stylesheet" href="{% static 'css/adminstyle.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/studentcss.css' %}" />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body bgcolor="lightgrey">

<h2 align="center">Student Academic Management System</h2>
<br>

<p style="bgcolor:lightgrey">
<a href="{% url 'studenthome' %}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'studentchangepwd' %}">Change Password</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'studentcourses' %}">View Courses</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'scoursecontent' %}">View Course Content</a>&nbsp;&nbsp;&nbsp;
<a href="{% url 'studentlogin' %}">Logout</a>&nbsp;&nbsp;&nbsp;
    </p>

<h3 align="right" style="color:green"><i>Welcome {{sid}}</i></h3>

<br>

{% block 'body' %}

<center>

<div class="card">
  <div class="container">
    <h4><b>{{student.student.id}}{{student.fullname}}</b></h4>
    <p>{{student.department}}</p>
       <p>{{student.year}}-{{student.semester}}</p>
       <p>{{student.email}}</p>
       <p>{{student.contact}}</p>
  </div>
</div>
</center>

{% endblock %}


</body>
</html>